<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include "./partials/head.html" ignore missing with context %}
    <title>Apod</title>
</head>
<body>
    {% include "./partials/nav.html" ignore missing with context %}

    <h1>NASA Astronomy Picture of the Day - {{data.date}}</h1>
    <img src="{{data.hdurl}}" alt="NASA IMAGE", width="300", style="display: block; margin: 0 auto;">
    <p>{{data.explanation}}</p>
    {% include "./partials/dependencies.html" ignore missing with context %}
</body>
</html>